html {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: black;
}

body {
    height: 100vh;
}

/* navbar */

a {
    padding: 9px;
    text-decoration: none;
}

.navbar {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    padding-top: 15px;
}

a:hover {
    text-decoration: underline;
}

#sign-in {
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

/* logo and searchbar */

#logo {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 20px;
}

.mag-glass {
    width: 23px;
    height: 23px;
    margin-left: 15px;
}

.microphone {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    cursor: pointer;
}

#searchbar {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

#searchbar:hover {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    cursor: text;
}

input[type=text] {
    font-size: 16px;
    width: 485px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
}

input:focus {
    outline: none;
}

/* search buttons */

.buttons {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
}

.search-buttons {
    padding: 0px 20px;
    height: 35px;
    border: none;
    margin: 5px;
    background-color: rgb(248, 248, 248);
    color: rgb(71, 71, 71);
}

.search-buttons:hover {
    border-color: white;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(243, 243, 243);
    color:rgb(71, 71, 71);
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
}

.foot-left, .foot-right {
    display: flex;
}

.foot-right {
    margin-right: 30px;
}